################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignments/Zipped Ass
/TextBook.pdf
/.vs/Zachary-Childers-CPT-206-Chap-3/v16
